<div>
  <h2 id="page-heading" data-cy="UsuarioHeading">
    <span jhiTranslate="controleAccApp.usuario.home.title">Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controleAccApp.usuario.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-usuario"
        [routerLink]="['/usuario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controleAccApp.usuario.home.createLabel"> Criar novo Usuario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="usuarios?.length === 0">
    <span jhiTranslate="controleAccApp.usuario.home.notFound">Nenhum Usuario encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="usuarios && usuarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nome">
            <div class="d-flex">
              <span jhiTranslate="controleAccApp.usuario.nome">Nome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="login">
            <div class="d-flex">
              <span jhiTranslate="controleAccApp.usuario.login">Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="senha">
            <div class="d-flex">
              <span jhiTranslate="controleAccApp.usuario.senha">Senha</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataCadastro">
            <div class="d-flex">
              <span jhiTranslate="controleAccApp.usuario.dataCadastro">Data Cadastro</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ultimoAcesso">
            <div class="d-flex">
              <span jhiTranslate="controleAccApp.usuario.ultimoAcesso">Ultimo Acesso</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="perfil">
            <div class="d-flex">
              <span jhiTranslate="controleAccApp.usuario.perfil">Perfil</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="turmas.nome">
            <div class="d-flex">
              <span jhiTranslate="controleAccApp.usuario.turmas">Turmas</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cursos.nomeCurso">
            <div class="d-flex">
              <span jhiTranslate="controleAccApp.usuario.cursos">Cursos</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/usuario', usuario.id, 'view']">{{ usuario.id }}</a>
          </td>
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.login }}</td>
          <td>{{ usuario.senha }}</td>
          <td>{{ usuario.dataCadastro | formatMediumDatetime }}</td>
          <td>{{ usuario.ultimoAcesso | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'controleAccApp.Perfil.' + usuario.perfil }}">{{ usuario.perfil }}</td>
          <td>
            <span *ngFor="let turmas of usuario.turmas; let last = last">
              <a class="form-control-static" [routerLink]="['/turma-acc', turmas.id, 'view']">{{ turmas.nome }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let cursos of usuario.cursos; let last = last">
              <a class="form-control-static" [routerLink]="['/curso', cursos.id, 'view']">{{ cursos.nomeCurso }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/usuario', usuario.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/usuario', usuario.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(usuario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
